Repository kinfuy/vue-simple-json: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

.lintstagedrc:

{
  "{package,example}/**/*.{vue,less}": [
    "stylelint --config ./.stylelintrc --fix"
  ],
  "{package,example}/**/*.{js,ts,json,css,vue}": [
    "eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue"
  ]
}

fix: docs base
  docs/index.html
  example/vite.config.ts
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

docs: 更新文档
  CHANGELOG.md
  README.MD
  dist/README.md
  dist/es/simpleJson/JsonEditor.mjs
  dist/es/simpleJson/JsonEditor.vue.d.ts
  dist/es/simpleJson/components/JsonNode.mjs
  dist/es/simpleJson/components/JsonNode.vue_vue_type_script_lang.mjs
  dist/es/simpleJson/components/Render/index.d.ts
  dist/es/simpleJson/index.d.ts
  dist/es/simpleJson/libs/defaultConfig.d.ts
  dist/lib/simpleJson/JsonEditor.js
  dist/lib/simpleJson/JsonEditor.vue.d.ts
  dist/lib/simpleJson/components/JsonNode.js
  dist/lib/simpleJson/components/JsonNode.vue_vue_type_script_lang.js
  dist/lib/simpleJson/components/Render/index.d.ts
  dist/lib/simpleJson/index.d.ts
  dist/lib/simpleJson/libs/defaultConfig.d.ts
  dist/package.json
  dist/style/index.css
  dist/style/jsonNode.css
  dist/types/simpleJson/JsonEditor.vue.d.ts
  dist/types/simpleJson/components/Render/index.d.ts
  dist/types/simpleJson/index.d.ts
  dist/types/simpleJson/libs/defaultConfig.d.ts
  docs/assets/logo.ca368493.png
  docs/index.html
  example/index.html
  version/vue-simple-json-v1.0.8.zip
Due: none

fix: deatil
  package.json
Due: none

build: up bulid-vue
  .eslintrc.js
  .lintstagedrc
  .prettierignore
  .prettierrc
  build/buildStyle.ts
  build/buildZip.ts
  build/copyfile.ts
  build/utils/bufity.ts
  build/utils/log.ts
  build/utils/version.ts
  dist/es/simpleJson/JsonEditor.vue.d.ts
  dist/es/simpleJson/components/JsonNode.vue.d.ts
  dist/es/simpleJson/components/JsonNode.vue_vue_type_script_lang.mjs
  dist/es/simpleJson/index.d.ts
  dist/lib/simpleJson/JsonEditor.vue.d.ts
  dist/lib/simpleJson/components/JsonNode.vue.d.ts
  dist/lib/simpleJson/components/JsonNode.vue_vue_type_script_lang.js
  dist/lib/simpleJson/index.d.ts
  dist/package.json
  dist/types/simpleJson/JsonEditor.vue.d.ts
  dist/types/simpleJson/components/JsonNode.vue.d.ts
  dist/types/simpleJson/index.d.ts
  package.json
  package/simpleJson/components/JsonNode.vue
  pnpm-lock.yaml
  version/vue-simple-json-v1.1.0.zip
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

style: 调整样式
  .prettierrc
  example/App.vue
  package/simpleJson/components/JsonNode.vue
  package/style/fade.less
  package/style/index.less
  package/style/jsonNode.less
  package/style/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

refactor: editor
  .github/workflows/auto-publish.yml
  .github/workflows/release.yml
  example/App.vue
  example/main.ts
  package/core/editor.ts
  package/core/line.ts
  package/index.ts
  package/package.json
  package/render/icon/Icon.vue
  package/render/icon/icon.type.ts
  package/render/line-children.tsx
  package/render/line-node.tsx
  package/render/simple-json.tsx
  package/render/value.editor.tsx
  package/simpleJson/JsonEditor.vue
  package/simpleJson/components/Icon/libs/icon-add.vue
  package/simpleJson/components/Icon/libs/icon-arrow-down.vue
  package/simpleJson/components/Icon/libs/icon-arrow-right.vue
  package/simpleJson/components/Icon/libs/icon-auth.vue
  package/simpleJson/components/Icon/libs/icon-date-point.vue
  package/simpleJson/components/Icon/libs/icon-delete.vue
  package/simpleJson/components/Icon/libs/icon-lock.vue
  package/simpleJson/components/Icon/libs/icon-set.vue
  package/simpleJson/components/Icon/libs/icon-switch-down.vue
  package/simpleJson/components/Icon/libs/icon-switch.vue
  package/simpleJson/components/Icon/libs/icon-time.vue
  package/simpleJson/components/Icon/libs/index.ts
  package/simpleJson/components/JsonNode.vue
  package/simpleJson/components/Render/index.ts
  package/simpleJson/components/SubJsonNode.vue
  package/simpleJson/index.ts
  package/simpleJson/libs/defaultConfig.ts
  package/simpleJson/libs/emun.ts
  package/simpleJson/type/simple-json.ts
  package/simpleJson/utils/index.ts
  package/style/editor.less
  package/style/index.less
  package/style/jsonNode.less
  package/style/valueEditor.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: icon
  example/App.vue
  example/main.ts
  package/render/icon/libs/icon-add.vue
  package/render/icon/libs/icon-arrow-down.vue
  package/render/icon/libs/icon-arrow-right.vue
  package/render/icon/libs/icon-auth.vue
  package/render/icon/libs/icon-date-point.vue
  package/render/icon/libs/icon-delete.vue
  package/render/icon/libs/icon-lock.vue
  package/render/icon/libs/icon-set.vue
  package/render/icon/libs/icon-switch-down.vue
  package/render/icon/libs/icon-switch.vue
  package/render/icon/libs/icon-time.vue
  package/render/icon/libs/index.ts
  package/render/line-node.tsx
  package/render/simple-json.tsx
  package/style/editor.less
  package/style/index.less
  pnpm-lock.yaml
  tsconfig.json
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  package/core/line.ts
  package/render/line-node.tsx
  package/render/value.editor.tsx
  package/style/editor.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

chore: build
  .lintstagedrc
  CHANGELOG.md
  README.MD
  changelog.config.js
  changeloger.config.js
  commitlint.config.js
  package.json
  package/core/editor.ts
  package/core/line.ts
  package/index.ts
  package/render/defaultConfig.ts
  package/render/simple-json.tsx
  package/utils/tool.ts
  playground/App.vue
  playground/assets/logo.png
  playground/data.ts
  playground/env.d.ts
  playground/index.html
  playground/main.ts
  playground/package.json
  playground/tsconfig.json
  playground/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  template/demo.jpg
Due: eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: node add hover
  .husky/commit-msg
  .husky/pre-commit
  package.json
  package/render/line-node.tsx
  package/render/simple-json.tsx
  package/style/editor.less
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix

fix: detail
  package/render/line-node.tsx
Due: none

fix: file name
  package/render/line-node.tsx
  package/render/value-editor.tsx
Due: none
